.iconItem {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 9px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: outline 0.2s;
  cursor: pointer;
  &:hover {
    outline: 5px solid #ffffff83;
  }
  &:hover .iconShape {
    filter: invert(49%) sepia(19%) saturate(7379%) hue-rotate(190deg)
      brightness(106%) contrast(97%);
  }
}
