@import "../../assets/variable.scss";

.root {
  position: fixed;
  background-color: $primaryColor;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  .containerHead {
    display: flex;
    height: $heightHeader;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 7px;
  }
}
.body {
  margin-top: $heightHeader;
}
.floatIcon {
  z-index: 99;

  position: fixed;
  bottom: 10px;
  right: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .iconItem {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 9px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    transition: outline 0.2s;
    &:hover {
      outline: 5px solid #ffffff83;
    }
    &:hover svg {
      filter: invert(49%) sepia(19%) saturate(7379%) hue-rotate(190deg)
        brightness(106%) contrast(97%);
    }
    img {
      object-fit: contain;
    }
  }
}
@media (max-width: $mobilePoint) {
  .floatIcon {
    right: 27px;
  }
}
