@import "../../assets/variable.scss";

$heightHeader: 76px;
.root {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  .containerHead {
    display: flex;
    height: $heightHeader;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 7px;
  }
}
.body {
  margin-top: $heightHeader;
}
.floatIcon {
  position: fixed;
  bottom: 10px;
  right: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .iconItem {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 9px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    box-shadow: 0px 0px 0px 1px #888484;
    img {
      object-fit: contain;
    }
  }
}
@media (max-width: $mobilePoint) {
  .floatIcon {
    right: 30px;
  }
}
